.article-card {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
	padding-left: 40px;
	border-radius: 10px;
	background-color: #F6F5F3;
}

.home-byline {
 color: black;
 font-style: italic;
}

.home-pub-date {
	color: black;
}

.home-title {
	text-decoration: underline;
}

.home-title:hover {
	transform: scale(1.01);
}