.article-details-container {
	text-align: center;
	height: 100vh;
	margin-top: 50px;
}

.details-title {
	padding: 0px;
	margin: 0px;
}

.details-back-button:hover {
	transform: scale(1.1);
	cursor: pointer;
}